@charset "utf-8";

// Bases setting
$fontFamilyBase :"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo"," Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$default:(
	line-height:1.5,
	font-size:13px,
	color:#333,
	font-family:$fontFamilyBase,
	linkColor:#05a,
	contentWidth:1050px,
	imgPath:'../../img/',
	borderColor:#ccc,
	borderRadius:3px
);
$themeColor:(
	primary:(
		normal:#000,
		hover:#000,
		current:#000
	),
	secondary:(
		normal:#000,
		hover:#000,
		current:#000
	),
	tertiary:(
		normal:#000,
		hover:#000,
		current:#000
	)
);
$mediaQueryLearge :"min-width:768px";
$mediaQuerySmall :"max-width:767px";
