@charset "utf-8";
@import "reset";
@import "mixin";
@import "vars";
@import "layouts";
@import "buttons";
@import "tables";
@import "form";

body{
	min-width:map-get($default,contentWidth);
	line-height:map-get($default,line-height);
	font-size:map-get($default,font-size);
	color:map-get($default,color);
	font-family:map-get($default,font-family);
	position: relative;
}

%clearfix{
	@include clearfix();
}

.hide{
	display: none;
}

.inputPageBlock{
	background:$blue_base;
}
.outputPageBlock{
	background:$green_base;
}
.settingPageBlock{
	background:$blue_base;
}
.howtoPageBlock{
	background:$green_base;
}