@charset "utf-8";
@import "reset";
@import "mixin";
@import "vars";
@import "layouts";
@import "buttons";
@import "tables";
@import "form";

body{
	line-height:map-get($default,line-height);
	font-size:map-get($default,font-size);
	color:map-get($default,color);
	font-family:map-get($default,font-family);
	position: relative;
	background:#000;
}

%clearfix{
	@include clearfix();
}

.hide{
	display: none;
}


.globalHeader{
	.globalHeaderLogos{
		padding:5px 10px;
		display: block;
		background:#212121;
		color:#ccc;
		h1{
			line-height: 1.2;
			font-size: 18px;
			font-weight: bold;
		}
		strong{
			margin:0 10px;
			font-size: 10px;
			font-weight: normal;
			vertical-align: baseline;
		}
	}
	.globalHeaderRead{
		padding:5px;
		background:$blue_dark;
		box-shadow:1px 1px 3px 0px #111 inset;
		p{
			padding:5px;
			font-size: 10px;
			background:rgba(255,255,255,.25);
			border-radius: 3px;
			color:#fff;
		}
	}
	.globalHeaderNav{
		position: fixed;
		bottom:0;
		left: 0;
		z-index:1000;
		height: 44px;
		width: 100%;
		ul{
			@extend %clearfix;
		}
		li{
			width: 25%;
			box-sizing:border-box;
			border-left:1px solid #000;
			float: left;
			&:first-child{
				border-left:none;			
			}
		}
		a{
			display: block;
			background:#212121;
			color:#ccc;
			line-height: 44px;
			height:44px;
			text-align: center;
			text-decoration: none;
		}
	}
}
.globalFooterCopyright{
	text-align: center;
	background:#000;
	color:#fff;
	padding:3px 5px;
}
.nullField{
	margin:20px 0 30px;
	padding:10px;
	border: 1px solid #fff;
	text-align: center;
	color: #fff;
}
.formBlock{
	margin:10px 0 32px;
}
.howtoPageBlock,
.inputPageBlock,
.outputPageBlock,
.settingPageBlock{
	padding:1px 10px 20px;
	h2{
		margin-left:-10px;
		margin-right:-10px;
		padding:5px 8px;
		background:rgba(0,0,0,.5);
		font-size: 14px;
		font-weight: bold;
		color:#fff;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	h3{
		border-left: 5px double #fff;
		color:#fff;
		font-size: 16px;
		padding:3px 5px 3px 15px;
		margin:8px 0;
		background:rgba(0,0,0,.25);
	}
	h4{
		font-size: 13px;
		font-weight: bold;
		color:#fff;
		margin:8px 5px;
	}
	p{
		color:#fff;
		+p{
			margin-top: 8px;
		}
	}
}
.buttonWrap{
	margin:10px 0;
}
.submitWrap{
	margin:18px 0;
	.button{
		display: block;
	}
}
.button{
	cursor: pointer;
	border-radius: 3px;
	padding:12px 8px;
	text-align: center;
	color:#fff;
	font-size: 14px;
	// font-weight: bold;
	line-height: 1;
	border: 1px solid #666;
	position: relative;
	&.iconClose{
		&:after{
			content:'';
			width: 20px;
			height: 20px;
			background:transparent url('../img/close_icon.png') left top no-repeat;
			background-size: 20px 20px;
			position: absolute;
			top:50%;
			margin-top: -10px;
			right:10px;
		}
	}
}
label.button{
	position: relative;
	button,input[type=submit]{
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
}
.accordionWrap{
	margin:10px 0 15px;
	.accordionTrigger{
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		color:#fff;
		padding:8px 10px;
		position: relative;
		&:after{
			content:'';
			background:transparent url('../img/plus_icon.png') left top no-repeat;
			background-size: 20px 20px;
			width: 20px;
			height: 20px;
			position: absolute;
			right:10px;
			top:50%;
			margin-top: -10px;
		}
		&.current{
			&:after{
				background-image: url('../img/minus_icon.png');
			}
		}
	}
	.accordionContent{
		padding:10px;
		border: 1px solid #fff;
		border-top: none;
		background:rgba(0,0,0,.5);
	}
}
.formWrap{
	.colWrap{
		@extend %clearfix;
		.col2{
			width: 50%;
			box-sizing:border-box;
			padding:5px;
			float: left;
		}
	}

	dl{
		margin-bottom: 5px;
	}
	dt{
		color:#fff;
		font-weight: bold;
		font-size: 13px;
		padding:3px 0;
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
	}
	select,input[type="text"],input[type="number"],textarea{
		width: 100%;
		border: 1px solid #333;
		border-radius: 3px;
		box-sizing:border-box;
		font-size: 12px;
	}
	textarea{
		padding:5px 10px;
		resize:vertical;
		min-height:4em;
	}
	.radioList,.checkList{
		padding:0 5px ;
		li{
			position: relative;
			display: inline-block;
			box-sizing:border-box;
			padding:0 5px 5px;
		}
		input{
			opacity: 0;
			position: absolute;
			&:checked + label{
			 	background:$blue_light;
			 	color:#fff;
			}
			&:disabled + label{
				background:#666;
				color:#ccc;
			}
		}
		label{
			cursor: pointer;
			display: block;
			padding:12px 8px;
			font-size: 12px;
			color: #fff;
			border: 1px solid #666;
			background:$blue_dark;
			border-radius: 3px;
			text-align: center;
		}
		&.result,&.basicStage,&.inputStage{
			padding:0;
			@extend %clearfix;
			li{
				width: 50%;
				float: left;
			}
		}
	}
}
.logArea{
	position: fixed;
	bottom:60px;
	width: 100%;
	left:0;
	background:rgba(0,0,0,.75);
	color:#fff;
}
.contentOuter{
	padding-bottom:44px;
}
.settingPageBlock,.inputPageBlock{
	background:$blue_base;
	.button{
		background:$blue_dark;
	}
}
.howtoPageBlock,.outputPageBlock{
	background:$green_base;

}
.viewArea{
	.viewBlock{
		margin:12px 0;
	}
	dl{
		margin-top: 10px;
		display:flex;
		justify-content:center;
	}
	dt {
		padding:5px 10px;
		width: 50%;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		border-left: 1px solid #000;
		background:#333;
		color: #fff;
		box-sizing:border-box;
	}
	dd{
		padding:5px 10px;
		background:#dfdfdf;
		border-top: 1px solid #000;
		border-right: 1px solid #000;
		border-bottom: 1px solid #000;
		width: 50%;
		box-sizing:border-box;
		text-align: right;
		font-weight: bold;
		span{
			margin:0 2px;
			font-weight: normal;
			font-size: 10px;
			vertical-align: baseline;
		}
	}
	dt,dd{
		flex-direction:row;
	}
	.viewTableRow{
		margin:6px 0;
		width: 100%;
		table-layout: fixed;
		border-right: 1px solid #666;
		border-top: 1px solid #666;
		word-wrap:break-all;
		word-break:break-all;
		white-space:normal;
		th,td{
			border-left: 1px solid #666;
			border-bottom: 1px solid #666;
			padding:5px;			
		}
		th{
			font-size: 10px;
			background:#333;
			color:#fff;
			text-align: left;
		}
		td{
			border-left: 1px solid #666;
			border-bottom: 1px solid #666;
			background:#ccc;
			color:#333;
		}
		tr:nth-child(even){
			td{
				background:#aaa;
			}
		}
		.kill,.death,.date{
			text-align: right;
		}
		.date{
			td{
				font-size: 10px;
			}
		}
	}
	.viewTitle{
		font-size: 16px;
		font-weight: bold;
		@extend %clearfix;
		span{
			width: 50%;
			display: inline-block;
		}
		.date{
			font-size: 10px;
			text-align: right;
		}
		.result{
		}
		.resWin{
			color:#DC143C;
		}
		.resLose{
			color: #1C00AB;
		}
	}
	.editButtonWrap{
		text-align: right;
		.editButton{
			text-decoration: underline;
			color:#fff;
		}
	}
}