//- frontmatter
extends ./layouts/layout.jade
//- /frontmatter

block content
	include ./include/_input.jade
	include ./include/_output.jade
	include ./include/_setting.jade
	include ./include/_howto.jade