.globalHeader
	.globalHeaderLogos
		h1 
			|Ikalog
			strong スプラトゥーン勝率メモ帳
	.globalHeaderRead
		p 当サイトは任天堂WiiUで発売されている<em>スプラトゥーン</em>の勝率をメモし、キルデス比や勝率を計算するサイトです。
	.globalHeaderNav
		ul
			li 
				a(href='#') 入力
			li 
				a(href='#view') 閲覧
			li 
				a(href='#howto') 使い方
			li 
				a(href='#settings') 設定
