.globalHeader
	.globalHeaderLogos
		h1 
			|Ikalog　
			strong スプラトゥーン勝率メモ帳
		p 当サイトは任天堂WiiUで発売されている<em>スプラトゥーン</em>の勝率をメモし、キルデス比や勝率を計算するサイトです。

	.globalHeaderNav
		ul
			li 入力
			li 閲覧
			li 使い方
			li 設定
