.howtoPageBlock
	h2 使い方

	h3 まずはじめに
	h4 ローカルストレージとは
	p ローカルストレージとは端末にデータを永続的に直接保存できるストレージです。
	p 当コンテンツではローカルストレージによるデータ管理をしているため、ブラウザの変更、端末の変更に対応しておりません。
	p また、Cookieなどと一緒にデータを削除した場合も復元できないものとなっております。

	h3 入力
	h4 基本設定
	p [ 基本設定 + ]をタップすることにより、毎回は入力しないものが入力できます。
	p ステージは2ステージまで絞り込むことができ、ここで入力しておくと戦績入力時にステージが絞り込まれた状態で表示されます。
	p テンプレートではコメントのテンプレートを入力できます。入力することにより、戦績にテンプレートが入った状態で戦績入力ができます。

	h3 閲覧
	h4 フィルター
	p フィルターではorで「過去n試合」、「過去n日」の絞り込みとandで「ステージ」「ルール」「ブキ」「ウデマエ」「ユーザー」で絞り込むことができます。

	h4 詳細データ
	p 詳細データではステージ別、ルール別、ブキ別、ウデマエ別などそれぞれでキルデス比や勝率を確認することができます。

	h4 リザルト
	p リザルトでは編集リンクをタップすることにより個別に編集可能です。
	p 削除は編集画面から行うことができます。

	h3 設定
	h4 アカウント管理
	p アカウントの登録・編集・削除・選択が行えます。飽くまで識別子としてのユーザーであるため、名称はなんでもかまいません。

	h4 インポート・エクスポート
	p エクスポートではローカルストレージに入っているデータを書き出します。
	p インポートではローカルストレージにデータを流し込みます。
	p インポート時に異なったフォーマットで流し込むと壊れる可能性があるため注意ください。
	p また、当コンテンツはフロントエンドのみの構成となっているため、XSSやインジェクションを行っても自身のマシンに反映されるのみとなります。

	h4 データの削除
	p ユーザー、スコアなどのデータをすべて削除します。


